/*product.css/

/*about.css*/

/*#main_title {
    
}*/
#main_title .container {
    position: relative;
    height: 200px;
    background: #039844;
}

.into h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #000;
}
.container .submenu {
    float: left;
    left: 100px;
    right: 100px;
    padding-left: 200px;
}

#lnb .ul {
    position: absolute;
    left: 300px;
}

#lnb > ul > li {
    float: left;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#lnb ul > li > a:hover,
#lnb ul > li > a:hover  {
  color: #fff;
}

.row {
    padding-bottom: 10px;
    padding-top: 10px;

}
.container h3 {
    padding-bottom: 20px;
    padding-top: 50px;
}
